* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
}

header {
  color: #29b1dd;
  padding: 20px 0 10px 20px;
  background-color: white;
}

header > h1 {
  font-size: 50px;
}

#filtro {
  background-color: #29b1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0 20px 0;
}

#filtro > span {
  font-size: 25px;
  margin-right: 20px;
}

#icone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
}

.card {
  background-color: white;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 2.5px black;
}

.card > span {
  text-transform: uppercase;
  margin-top: 10px;
}

.card > i {
  font-size: 40px;
}
